.Header__bottom {
  background: #eee;
  display: none;

  & > * {
    padding: 0.5rem;
    flex: 1 1 auto;
    text-align: center;

    &:hover {
      background-color: #333;
      color: var(--body-text-color-contrast);
      cursor: pointer;
    }
  }

  @media (min-width: 600px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.Header__desktop, .Header__mobile {
  & > * {
    cursor: pointer;
  }
}