@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

:root {
  --font-size: 16px;
  --font-family: sans-serif;
  --font-weight: 300;
  --bg-color: #000;
  --bg-color-contrast: #fff;
  --content-bg-color: #fff;
  --content-bg-color-contrast: #000;
}

html, body {
  font-family: var(--font-family);
  font-size: var(--font-size);  
  font-weight: var(--font-weight);
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

a, a:visited, a:hover {  
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.App__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, auto) 1fr minmax(auto, 2rem);
  height: 100vh;
  background-color: var(--bg-color);
}

.Header__wrapper {
  background: var(--bg-color);
  color: var(--bg-color-contrast);
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 1rem;
}

.Content__wrapper {
  background-color: var(--content-bg-color);
  color: var(--content-bg-color-contrast);
  transition: all 5s linear;
  position: relative;

  .Content__content {
    width: 100%;
    height: 100%;
    border: 1px solid blue;
  }

  .Content__cart {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    border: 1px solid red;
    transform: translateX(100%);
  }

  &.cart-visible {    
    .Content__content { width: 70%; display: inline-block; }
    .Content__cart { display: inline-block; transform: translateX(0); }
  }
}

// .Footer__wrapper {
  
// }