@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import 'colors';
@import 'animations';

:root {
  --breakpoint-sm: 400px;
  --breakpoint-md: 600px;
  --body-font-size: 16px;
  --body-font-family: sans-serif;
  --body-font-weight: 300;
  --body-bg-color: $black;
  --body-bg-color-contrast: $white;
  --content-bg-color: $white;
  --content-bg-color-contrast: $black;
  --cart-bg-color: $washed-green;
  --cart-desktop-width: 400px;
  --cart-mobile-width: 100%;
  --header-font-family: "Montserrat Alternates", sans-serif;
  --header-bg-color: $dark-green;
  --header-bg-color-contrast: $white;
  --footer-bg-color: $dark-green;
  --footer-bg-color-contrast: $white;
  --body-text-color: $black;
  --body-text-color-contrast: $white;
}

body {
  position: relative;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);  
  font-weight: var(--body-font-weight);
  height: 100%; // Must be set to auto for Headroom to work
  overflow: hidden;
  
}

a, a:visited, a:hover {  
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.25);
  overflow: visible;
  z-index: 2;
}

.App__wrapper {
  // position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--body-bg-color);
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    height: auto;
    overflow-y: hidden;
  }
}

.Content__wrapper {
  background-color: var(--content-bg-color);
  color: var(--content-bg-color-contrast);
  
  & > * {
    transition: all 0.5s ease;
  }

  &.cart-visible { 
    overflow: hidden;
    .Content__cart {
      opacity: 1;
      transform: translateX(0%);      
    }
    
  }
}

.Content__content {
  min-height: 100vh; // Ensures that the footer is always aligned to the bottom
}

.Content__cart {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--cart-bg-color);
  z-index: 3;
  padding: 1rem;
  opacity: 0;
  transform: translateX(100%);
  box-shadow: 0.25rem 0 1rem #333;  
  width: var(--cart-mobile-width);
  
  @media (min-width: 400px) {
    width: var(--cart-desktop-width);
  }
}

.Footer__wrapper {
  font-family: var(--header-font-family);
  background-color: var(--footer-bg-color);
  color: var(--footer-bg-color-contrast);
  text-align: center;
  padding: 0.5rem;
  font-size: 0.85rem;
}